.bg-main {
  background-color: RGBA(187, 216, 242, 1);
  color: #000000;
  height: 560px;
}
.bg-main-api {
  height: 850px;
}
.container {
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  background-color: RGBA(136, 141, 242, 1);
}

.product:hover {
  border: 2px solid black;
  border-radius: 5%;
}

.btn-delete-item {
  display: inline-block;
}
/* .product:hover .btn-delete-item {
  display: inline-block;
} */

.product img {
  width: 100px;
  height: 100px;
}

.f-color-custom {
  color: RGBA(136, 141, 242, 1);
}

.bg-color-custom {
  background-color: RGBA(136, 141, 242, 1);
  border: 1px solid RGBA(136, 141, 242, 1);
}
